@import '@carbon/colors/scss/colors';
@import '@carbon/type/scss/type';
@import '@carbon/layout/scss/layout';
@import '@carbon/grid/scss/grid';

.menu {
	display: flex;

	position: relative;

	height: 64px;
	width: 100%;

	align-items: center;

	box-sizing: border-box;

	background-color: $carbon--blue-100;
	color: $carbon--white-0;

	font-family: 'IBM Plex Sans', 'Menlo', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', Courier, monospace;
	font-size: carbon--type-scale(6);

	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

	&>* {
		margin: 0;
		padding: 0;

		margin-left: 10px;
	}

	.menu__logo {
		margin-top: 50px;
		margin-left: 20px;
	}

	h1 {
		font-size: 24px;
		font-weight: bold;
	}

	.menu__spacer {
		color: $carbon--gray-30;
	}

	.menu__list {
		list-style-type: none;

		margin: 0;

		.menu__list-item {
			display: inline;

			padding: 13px 16px;
			margin: 20px 0;

			text-align: center;

			color: $carbon--gray-20;

			border-bottom: 3px solid transparent;

			cursor: pointer;

			&:hover {
				color: $carbon--white-0;

				border-bottom: 3px solid $carbon--white-0;
			}

			.menu__link {
				text-decoration: none;

				color: inherit;
				font-size: carbon--type-scale(3);
			}
		}

		.menu__item-active {
			font-weight: bold;
			color: $carbon--white-0;

			border-bottom: 3px solid $carbon--white-0 !important;
		}
	}

	.menu__icons {
		position: absolute;
		right: 0;

		a {
			padding: 12px 16px;

			&:hover {
				border-bottom: 3px solid $carbon--white-0;
			}

			svg {
				fill: $carbon--white-0;
			}
		}
	}
}
